* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #dadada;
}

.container {
    padding: 10vw 25vw;
}

input {
    width: 100%;
    padding: 12px 22px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #dadada;
    outline-color: royalblue;
}

.people {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.person {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    border: 2px solid #dadada;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
