*{
    padding: 0;
    box-sizing: 0;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

img{
    height: 300px;
     position: relative;
     animation-name: chutki;
     animation-duration: 3s;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: relative;
    animation-name: box;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: relative;
    animation-name: box;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes box {
    from{
        left: 0;
    }
    to{
       left: 80%;
    }
}

/* @keyframes chutki {
    from{
        left: 0;
        top: 0;
    }
    to{
        left: 80%;
        top: 50%;
    } 

    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 80%;
        top: 0;
    }
    100%{
        left: 80%;
        top: 50%;
        rotate: 360deg;
    }
} */